body {}

body {
    max-width: 1080px;
    margin: 40px auto;
}

h1 {
    text-align: center;
}

table,
th,
td {
    border: 1px solid black;
}

.carte {
    display: flex;
    gap: 20px;

    figure {
        margin: 0;
    }

    ;

    aside {
        flex: 1;
    }

    table {
        width: 100%;
    }
}

.image_map {

    position: relative;
    width: 400px;

    img {
        width: 100%;
        border-radius: 30px;
    }

    .arriere_plan {
        filter: brightness(30%) sepia(100%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    #pentacle, #roi, #verdure {
        display: none;
    }

    #pentacle:target, #roi:target, #verdure:target {
        display: block;
    }

    /* clip path avec https://bennettfeely.com/clippy/ */

    .premier_plan:has(~ #roi:target) {
        clip-path: polygon(54% 20%, 49% 17%, 45% 22%, 39% 21%, 44% 26%, 42% 32%, 32% 36%, 28% 37%, 23% 39%, 22% 42%, 26% 48%, 24% 52%, 28% 53%, 32% 57%, 33% 63%, 27% 79%, 30% 83%, 37% 84%, 45% 84%, 58% 84%, 65% 78%, 73% 77%, 82% 78%, 76% 72%, 78% 62%, 75% 57%, 81% 54%, 81% 47%, 77% 41%, 71% 35%, 66% 32%, 61% 29%, 60% 24%, 63% 20%);
    }

    .premier_plan:has(~ #pentacle:target) {
        clip-path: circle(6% at 66% 49%);
    }

    .premier_plan:has(~ #verdure:target) {
        clip-path: polygon(8% 32%, 14% 31%, 16% 37%, 22% 33%, 22% 39%, 26% 38%, 31% 40%, 29% 43%, 25% 43%, 20% 45%, 16% 48%, 11% 47%, 13% 44%, 10% 43%, 6% 47%, 3% 45%, 3% 41%, 11% 39%, 9% 36%);
    }
}